@media screen and (min-width: 800px) {
    :root {
    }
    
    * {
    }
    
    body {
    }
    
    body.loading {
    }
    body.loading-out {
    }
    
    
    
    
    #doc_title {
    }
    #doc_title p{
    font-size: 12px;
    }
    #doc_title h1{
    width: unset;
    }
    
    #block_scroll {
    margin-left: 200px;
    }
    #inputs-box{
        
position: FIXED;
        
width: 195px;
        
left: calc(20vw - 100px);
    }
    a {
    }
    
    #button_search_class{
    }
    #button_search_class.button_search_appear{
    }
    
    #main_container {
    padding: 0 calc(20vw - 100px);
    }
    
    /* -------------------------------- */
    /*             ORARi                */
    /* -------------------------------- */
    
    .row_orari {
    /* width: 600px; */
    }
    
    
    
    .row_orari div {
    }
    
    .row_orari p {
    font-size: 14px;
    }
    
    body.current_day .row_orari div.current_slot p{
}
    
    
    /* -------------------------------- */
    /*             AULE                 */
    /* -------------------------------- */
    #container_row_aule{
    /* width: 556px; */
    margin-left: 200px;
    }
    .row_aule {
    margin-top: 27px;
    }
    
    
    .row_aule p.nome_aula, .row_aule p.info_aula, .row_aule p.info_alert_aula,.row_aule #info_favorite {
    font-size: 12px;
    padding: 3px 14px;
    margin-top: -12px;
    }
    .row_aule.favorite{
    }
    .row_aule.favorite p.nome_aula{
    }
    .row_aule p.info_aula {
    }
    .row_aule p.info_aula sup{
    }
    body:not(.filter_active) .info_aula{
    }
    
    .row_aule #info_favorite{
    }
    .row_aule.favorite #info_favorite{
    }
    .row_aule p.info_alert_aula img{
    }
    .row_aule p.info_alert_aula{
    }
    
  
    /* contenitore di tutte le aule della riga */
    div.lista_aule {
    }
    /* animazione modal */
    /* .modal_open .lista_aule{
    }
    .lista_aule div{
    }
    .modal_open .lista_aule div{
    
    } */
    /* blocco dell'aula */
    div.lista_aule div {
        /* animation */
    }
        div.lista_aule div:first-child {
        }
        div.lista_aule div:last-child {
        }
        div.lista_aule div.enabled {
        }
    
        div.lista_aule div.disabled {
        }
    
    
        div.lista_aule div.enabled::after {
        }
    
        div.lista_aule div.disabled::after {
        }
    
        div.lista_aule div.enabled::after,
        div.lista_aule div.disabled::after {
        }
        
        /* highlight slot if is the current day  */
            body.current_day div.lista_aule div.current_slot{
            }
    
            body.current_day div.lista_aule div.current_slot::before {
            }
    
            body.current_day div.lista_aule div.disabled.current_slot::before {
            }
    
            /* div.lista_aule div{
    
            } */
            body.current_day div.lista_aule div:not( .current_slot, .current_slot+div, .current_slot+div+div, .current_slot+div+div+div, .current_slot+div+div+div+div, .current_slot+div+div+div+div+div, .current_slot+div+div+div+div+div+div, .current_slot+div+div+div+div+div+div+div ){
    
    
    }
        
    /* -------------------------------- */
    /* -------------------------------- */
    /* -------------------------------- */
    
    /* -------------------------------- */
    /*           CAMPUS                 */
    /* -------------------------------- */
    #campus_box{
    }
    #campus_input{
    }
    .campus_title{
    font-size: 14px;
    }
    
    /* -------------------------------- */
    /* -------------------------------- */
    /* -------------------------------- */
    
    
    
    
    
    /* -------------------------------- */
    /*             FILTER               */
    /* -------------------------------- */
    
    body.filter_active div.artificial_before {
    }
    
    #filter_box {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    border-top: 1px dashed #6312f7;
    }
    
    #filter_box div {
    }
    
    #filter_box p {
    font-size: 14px;
    }
    
    .filter_title {
    }
    
    #filter_box .filter p {
    font-size: 14px;
    }
    
    #filter_box .filter.active {}
    
    #filter_box .filter.active p {
    }
    
    /* -------------------------------- */
    /* -------------------------------- */
    /* -------------------------------- */
    
    
    
    /* -------------------------------- */
    /*             DATE                 */
    /* -------------------------------- */
    
    #date_box{
    }
    #date_box.unavailable{
    
    }
    #date_box div{
        }
    
    .date_input{
    }
    .date_title{
    font-size: 13px;
    }
    #date_box .date_button{
    }
    .date_value{
    }
    /* -------------------------------- */
    /* -------------------------------- */
    /* -------------------------------- */
    
    
    
    /* -------------------------------- */
    /*              MODAL               */
    /* -------------------------------- */
    
    
    
    #modal_box {
    height: 100vh;
    display: flex;
    justify-content: center;
    }
    #modal_bg_block{
    }
    #modal_box.hidden {
    }

    #modal_date{
    }
    
    #modal_alert{
    }
    #modal_alert div{
    }
    #modal_alert p{
    }
    #modal_alert img{
    }
    #modal_favorite{
    }
    #modal_favorite p{
    }
    #modal_favorite p::after{
    }
    #modal_favorite p::before{
    }
    #modal_favorite.favorite p{
    }
    #modal_favorite.favorite p::after{
    }
    #modal_favorite.favorite p::before{
    }
    
    #modal_content_box {
    width: 600px;
    }
    
    #exit_modal {
    font-size: 12px;
    }
    
    
    #modal_link {
    font-size: 13px;
    margin-top: 9px;
    }
    
    #modal_info_aula {
    }
    
    #modal_info_aula .modal_row {
        /* row */
    }
    
    #modal_info_aula .modal_row {padding-bottom: 11px;}
    
    #modal_title.modal_row {
    }
    
    
    #modal_info_aula .div_capienza,
    #modal_info_aula .div_superficie {
    }
    
    
    /* blocco informazioni aula */
    /* titolo  */
    #modal_info_aula p.title {
    margin-bottom: 9px;
    font-size: 12px;
    }
    
    /* contenuto  */
    #modal_info_aula p.contain {
    font-size: 26px;
    }
    
    /* suffisso per capienza e superficie*/
    #modal_info_aula p[value="_capienza"]::after {
    }
    
    #modal_info_aula p[value="_superficie"]::after {
    }
    
    
    /* Fasce orarie nel modal */
    #modal_fasce.modal_row {
    }
    
    #modal_lista_aule,.modal_row .row_orari {
    }
    
    #modal_fasce span.modal_fascia {
    }
    
    #modal_fasce span.modal_fascia:first-child {
    }
    
    #modal_fasce span.modal_fascia:last-child {
    
    
    
    }
    
    #modal_fasce span.modal_fascia.active {
    }
    
    
    #modal_fasce span.modal_fascia::after {
    }
    
    #modal_fasce span.modal_fascia.active::after {
    }
    
    /* -------------------------------- */
    /* -------------------------------- */
    /* -------------------------------- */
    
    
    
    /* -------------------------------- */
    /*          modal search            */
    /* -------------------------------- */
    #search_main_box{
    position: fixed;
    top: 117px;
    }
    #search_main{
    margin: 0;
    }
    #search_main::placeholder{
    }
    #search_main:focus{
        
width: 50vw;
        
position: fixed;
        
top: 25hw;
        
left: 25vw;
    }
    #search_main:focus::placeholder{
    
    }
    #search_main_box:focus-within{

position: fixed;

overflow: hidden;

}
    #search_main:focus+.search_background{
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    }
    
    #modalsearch_box{
    }
    #modalsearch_box p{
    }
    #modalsearch_box input{
    }
    #modalsearch_box input:focus{
    }
    #modalsearch_box.hidden{
    }
    #modalsearch_box .exit_modal{
    }
    /* -------------------------------- */
    /* -------------------------------- */
    /* -------------------------------- */
    
    #credits{
    padding: 61px 15px 12px;
    }
    #credits div{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
    justify-content: space-between;
    }
    #credits .line{
    }
    #credits p{
    border-left: 1px solid black;
    width: 61%;
    font-size: 14px;
    padding-left: 2%;
    margin-bottom: 20px;
    margin-top: 20px;
    }
    #credits a{
    }
    #credits span{
    width: 30%;
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
    }
    #credits .credit_emoji_sub{
    font-size: 15px;
    }
    #credits .list{
    }
    #credits .credit_name {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: midnightblue;
    }
    #credits .credit_name a{
    font-size: 14px;
    }
    

}