:root {
    --background: black;
}

* {
    /* border: 0.5px solid black; */
    /* font-family: sans-serif; */
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
    /* border: 0px; */
    /* background: white; */
    /* outline: 1px solid #d4479d; */
}

body {
    /* padding: 0px 0px 0px 10px; */
    font-family: sans-serif;
    /* overflow: hidden; */
    transition-property: filter, opacity;
    transition-duration: 5s;
    transition-timing-function: ease;
}

body.loading {
    /* display: none; */
    filter: blur(10px);
    opacity: 0.5;
}
body.loading-out {
    /* display: none; */
    filter: blur(0px);
    opacity: 1;
}


@keyframes loading {
    0%{ 
        opacity: 1;
    }
    50%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1;
    }

}
@keyframes loading-out {
    0%{}
    100%{ 
        filter: blur(0px);
        opacity: 1;
    }
}

#doc_title {
    padding: 55px 0px 11px 10px;
    /* width: 400px; */
    /* height: 195px; */
    position: sticky;
    top: -302px;
    background: white;
    z-index: 11;
    /* word-spacing: 300px; */
    left: 0;
}
#doc_title p{
    font-size: 10px;
    font-family: "Roboto mono", monospace;
    color: #939393;
    font-weight: 700;
    margin-top: 11px;
}
#doc_title h1{
    font-size: 52px;
    font-family: "Roboto Slab", monospace;
    font-weight: 600;
}

#block_scroll {
    position: sticky;
    top: 0;
    z-index: 40;
    /* filter: drop-shadow(-6px 16px 8px #0002); */
    width: 100%;
    /* overflow-x: clip; */
    background: white;
    padding: 11px 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

a {
    /* color: rgb(255, 255, 255); */
    text-decoration: inherit;
    font-size: 12px;
}

#button_search_class{
    margin-right: auto;
    width: 60px;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 53px;
    font-size: 24px;
    /* outline: 1px solid black; */
    position: fixed;
    bottom: 50px;
    right: -100px;
    z-index: 150;
    box-shadow: -1px 2px 5px 3px hsla(272, 100%, 78%, 0.184);
    margin: 0;
    transition: right 0.5s ease;
}
#button_search_class.button_search_appear{
    right: 40px;
}

#main_container {
    display: flex;
    /* width: 100%; */
    font-family: sans-serif;
    z-index: 0;
    overflow-y: scroll;
    height: 100vh;
    /* padding: 0px 10px; */
    flex-wrap: wrap;
    overflow-x: hidden;
}

/* -------------------------------- */
/*             ORARi                */
/* -------------------------------- */

.row_orari {

flex-direction: row;

margin: 7px 0px 0px 0px;

width: 100%;

border: 0;

display: flex;

text-align: center;

align-items: center;

/* word-spacing: 100px; */

margin-top: 16px;

/* border: 1px solid #9d9d9d; */

justify-content: space-around;

/* border: 2px black inset; */

/* border: inset; */

outline: 2px solid #424242;
}



.row_orari div {
    width: 100%;
}

.row_orari p {
    font-size: 10px;
    font-family: "Roboto mono", monospace;
    width: 32px;
    padding: 6px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    /* border-bottom: 37px solid #91f6bf; */
    /* border-top: 1px solid #ce8bff; */
    text-align: center;
    outline: 1px dashed #424242;
    font-weight: 600;
    line-height: 1.5;
    color: #202020;
    line-height: 2;
    word-spacing: 4px;
}

body.current_day .row_orari div.current_slot p{
    
background: #fff470;
}


/* -------------------------------- */
/*             AULE                 */
/* -------------------------------- */
#container_row_aule{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px 10px;
}
.row_aule {

display: flex;

width: 100%;

flex-wrap: wrap;

margin-top: 23px;


/* border-radius: 6px; */

border-top: 1px solid #a3a3a3;

/* height: 100%; */

/* height: 21px; */

/* overflow: hidden; */

justify-content: flex-end;
}


.row_aule p.nome_aula, .row_aule p.info_aula, .row_aule p.info_alert_aula,.row_aule #info_favorite {
    font-family: 'Roboto mono', monospace;
    font-size: 12px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 7px;
    padding: 2px 6px;
    background: white;
    /* margin-left: 7px; */
    margin-right: 7px;
    outline: 1px solid #a3a3a3;
    border-radius: 7px;
}
.row_aule.favorite{
    border-top: 1px dashed #ffc83d;
}
.row_aule.favorite p.nome_aula{
    outline: 1px solid #ffc83d;
    background:#ffc83d;
}
.row_aule p.info_aula {
    color: #ffffff;
    outline: 1px solid #6613ff;
    background: #6613ff;
    font-weight: normal;
    margin-right: 0px;
    /* max-width: 50%; */
    /* transition: all 1s ease; */
    /* text-overflow: clip; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}
.row_aule p.info_aula sup{
    line-height: 0.5;
}
body:not(.filter_active) .info_aula{
    display: none;
    /* color:transparent; */
    /* padding: 0; */
    /* max-width: 0%; */
}

.row_aule #info_favorite{
    display: none;
    outline: none;
    margin-right: auto;
    scale: 1.5;
    padding: 0px 5px;
}
.row_aule.favorite #info_favorite{
    display: unset;
}
.row_aule p.info_alert_aula img{
    /* background: url("plug.svg") */
    height: 13px;
    scale: 1.8;
}
.row_aule p.info_alert_aula{
    outline: none;
}

@keyframes open_modal {
    0%{
        z-index: 100;
        height: 32px;
        scale: 1 1;
        background:white;
    }
    25%{
        scale: 2 2;
        height: 200vh;
        z-index: 100;
        background:white;


    }
    100%{
        scale: 2 2;
        height: 200vh;
        outline: 1px solid black;
        z-index: 100;
        background:white;

        

    }
   


}
/* contenitore di tutte le aule della riga */
div.lista_aule {
    width: 100%;
    display: flex;
    margin-top: 0px;
    border-radius: 5px;
    /* border-bottom-right-radius: 5px; */
    /* overflow: hidden; */
    /* outline: 1px solid #2b2b2b; */
}
/* animazione modal */
/* .modal_open .lista_aule{
    animation: open_modal 0.75s 0.2s  linear forwards;
}
.lista_aule div{
    transition: opacity 0.25s ease;
    opacity: 1;
}
.modal_open .lista_aule div{
    opacity: 0;

} */
/* blocco dell'aula */
div.lista_aule div {
    /* text-align: center; */
    height: 29px;
    width: 100%;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    /* animation */
    transition: opacity 0.25s ease;
    opacity: 1;
    border-radius: 5px;
    margin: 0px 3px;
}
    div.lista_aule div:first-child {
        /* border-bottom-left-radius:5px; */
        /* border-top-left-radius:5px; */
    }
    div.lista_aule div:last-child {
        /* border-bottom-right-radius:5px; */
        /* border-top-right-radius:5px; */
    }
    div.lista_aule div.enabled {
        background: #00d573;
        outline: 1px solid #00d573;
        position: relative;
    }

    div.lista_aule div.disabled {
        background: #ffffff;
        outline: 1px solid #989898;
        position: relative;
    }


    div.lista_aule div.enabled::after {
        content: "📚";
        z-index: 1;
    }

    div.lista_aule div.disabled::after {
        content: "🚫";
        z-index: 1;
    }

    div.lista_aule div.enabled::after,
    div.lista_aule div.disabled::after {
        /* position: absolute; */
        font-size: 14px;
        line-height: 1;
    }
    
    /* highlight slot if is the current day  */
        body.current_day div.lista_aule div.current_slot{
            background: #fff470;
            outline: 1px solid #fff470;
        }

        body.current_day div.lista_aule div.current_slot::before {
            /* position: absolute; */
            content: "..";
            font-family: monospace;
            /* background: #feff0bc4; */
            color: transparent;
            width: 24px;
            height: 24px;
            border: 2px dashed  rgb(0 78 19);
            border-radius: 16px;
            position: absolute;
            /* z-index: 0; */
            line-height: 1;
            animation: rotation_loop 10s linear infinite;
            /* scale: 2; */
        }

        body.current_day div.lista_aule div.disabled.current_slot::before {
            /* position: absolute; */
            /* background: #ec0f424d; */
            border: 2px dashed rgb(248 16 69);
            border: 0;
        }

        /* div.lista_aule div{
            filter: blur(2px);

        } */
        body.current_day div.lista_aule div:not( .current_slot, .current_slot+div, .current_slot+div+div, .current_slot+div+div+div, .current_slot+div+div+div+div, .current_slot+div+div+div+div+div, .current_slot+div+div+div+div+div+div, .current_slot+div+div+div+div+div+div+div ){

filter: blur(1px) grayscale(1);

}
        @keyframes rotation_loop {
            0%{
                rotate: 0deg;

            }
            100%{
                rotate: 360deg;
            }
        }
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

/* -------------------------------- */
/*           CAMPUS                 */
/* -------------------------------- */
#campus_box{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    margin-bottom: 9px;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
}
#campus_input{
    background: white;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    /* margin-right: 20px; */
    /* margin-top: 4px; */
    /* line-height: 1; */
    border: 1px solid #00a459;
    padding: 2px 4px 2px 4px;
    border-radius: 7px;
    line-height: 1;
    margin-top: 7px;
    color: #00a459;
    outline: none;
    margin-right: auto;
}
.campus_title{
    font-size: 10px;
    font-family: "Roboto mono", monospace;
    /* width: 62%; */
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */





/* -------------------------------- */
/*             FILTER               */
/* -------------------------------- */

body.filter_active div.artificial_before {
    width: 60px;
    /* animation: appear 0.5s 0.4s ease forwards; */
    height: 48px;
    color: #292138;
    background: #f5f5f5;
}

#filter_box {
    display: flex;
    z-index: 15;
    /* position: sticky;
    top: 0; */
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px 0px 9px;
    /* background: white; */
    position: sticky;
    left: 0px;
    /* width: 82vw; */
    /* padding-left: 10px; */
    border-top: 1px dashed #e2224a;
    border-bottom: 1px dashed #6312f7;
}

#filter_box div {
    margin: 3px 8px 3px 0px;
    /* margin-bottom: 11px; */
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 14px;
}

#filter_box p {
    /* display: block; */
    /* padding: 4px 8px; */
    font-size: 10px;
    font-family: "Roboto mono", monospace;
    /* color: #000000; */
}

.filter_title {
    width: 100%;
}

#filter_box .filter p {
    display: block;
    padding: 4px 8px;
    border-radius: 7px;
    border: 1px solid #6312f7;
    color: #6312f7;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

#filter_box .filter.active {}

#filter_box .filter.active p {
    background: #6613ff;
    color: white;
    font-weight: normal;
    /* box-shadow: 0px 0px 5px 2px #7930ff; */
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */



/* -------------------------------- */
/*             DATE                 */
/* -------------------------------- */

#date_box{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    margin-bottom: 9px;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
    order: -1;
    margin-right: 16px;
}
#date_box.unavailable{

}
#date_box div{
    /* border: 1px solid black; */
    /* position: absolute; */
    /* padding: 5px; */
    /* box-shadow: 0px 0px 8px 3px #e2224ad4; */
    width: 100%;
    /* opacity: 0; */
    }

.date_input{
    width: 201px;
    font-size: 195px;
    height: 84px;
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
}
.date_title{
    font-size: 10px;
    font-family: "Roboto mono", monospace;
    /* width: 45%; */
}
#date_box .date_button{
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    /* font-weight: 600; */
    padding: 4px 10px;
    border-radius: 5px;
    /* border: 1px solid #dc0031; */
    color: #ffffff;
    background: #e2224a;
}
.date_value{
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    margin-right: 20px;
    /* margin-top: 4px; */
    /* line-height: 1; */
    border: 1px solid #d71e45;
    padding: 5px 8px;
    border-radius: 7px;
    line-height: 1;
    margin-top: 7px;
    color: #eb234d;
    margin-right: auto;
}
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */



/* -------------------------------- */
/*              MODAL               */
/* -------------------------------- */



#modal_box {
    left: 0vw;
    background: #f6f6f6;
    width: 100vw;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    display: flex;
    z-index: 500;
    background: white;
    transition: left 0.25s ease;
    /* overflow: scroll; */
}
#modal_bg_block{
    background: #ffffff;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#modal_box.hidden {
    left: -100vw;
    transition: left 0.25s ease;
}
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#modal_date{
    
}

#modal_alert{
    width: 100%;
    display: flex;
    margin-bottom: 17px;
}
#modal_alert div{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    outline: 2px solid #ffb133;
    border-radius: 5px;
    padding: 3px 16px 6px;
    margin: 0px auto;
    }
#modal_alert p{
    /* outline: 1px solid #fac021; */
    display: block;
    border-radius: 5px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12px;
}
#modal_alert img{
    width: 28px;
    margin: 6px;
}
#modal_favorite{
    margin-bottom: 10px;
}
#modal_favorite p{
    border-radius: 5px;
    border: 1px solid #3d3d3d;
    padding: 2px 13px 2px 0px;
    font-family: 'Roboto mono', monospace;
    font-weight: 600;
    font-size: 12px;
    color: #3d3d3d;
}
#modal_favorite p::after{
    content: "Aggiungi ai preferiti"
}
#modal_favorite p::before{
    content: "⭐";
    font-size: 15px;
    margin: 0px 5px;
    filter: saturate(0) brightness(1.2);
}
#modal_favorite.favorite p{
    color: #ffffff;
    background: #454545;
    border: 1px solid #454545;
}
#modal_favorite.favorite p::after{
    content: "Aula preferita";
}
#modal_favorite.favorite p::before{
    content: "⭐";
    filter: saturate(1);
}

#modal_content_box {
    display: flex;
    width: 100%;
    height: unset;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding-bottom: 50px;
}

#exit_modal {
    /* position: fixed; */
    /* right: 0; */
    margin: 15px 15px 6px auto;
    font-size: 10px;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
    /* height: 30px; */
    display: flex;
    align-items: center;
    /* top: 0; */
    /* width: 17px; */
    /* left: 0; */
    z-index: 10;
    /* position: absolute; */
    /* position: relative; */
}


#modal_link {
    color: #525252;
    margin: 0px auto 0px 15px;
    padding: 5px 6px;
    /* width: 121px; */
    border-radius: 5px;
    border: 1px solid #959595;
    font-family: "Roboto mono", monospace;
    word-spacing: -2px;
    top: 0;
    font-size: 12px;
    /* display: block; */
    order: 2;
    display: inline-block;
}

#modal_info_aula {
    display: flex;
    padding: 7px 15px 0px 15px;
    background: white;
    flex-wrap: wrap;
    /* height: 100%; */
}

#modal_info_aula .modal_row {
    /* row */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 14px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 4px;
    width: 100%;
}

#modal_info_aula .modal_row {}

#modal_title.modal_row {
    font-size: 51px;
    font-family: "Roboto Slab", sans-serif;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 14px;
    line-height: 1.2;
}


#modal_info_aula .div_capienza,
#modal_info_aula .div_superficie {
    width: 49%;
}


/* blocco informazioni aula */
/* titolo  */
#modal_info_aula p.title {
    font-size: 10px;
    font-family: "Roboto mono", monospace;
}

/* contenuto  */
#modal_info_aula p.contain {
    font-size: 22px;
    font-family: "Roboto Slab", sans-serif;
}

/* suffisso per capienza e superficie*/
#modal_info_aula p[value="_capienza"]::after {
    content: ' posti';
}

#modal_info_aula p[value="_superficie"]::after {
    content: ' metri²';
}


/* Fasce orarie nel modal */
#modal_fasce.modal_row {
    width: 100%;
    overflow: hidden;
    border: 0;
    margin-bottom: 21px;
}

#modal_lista_aule,.modal_row .row_orari {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* margin: 7px 0px 0px 0px; */
    width: 99%;
    margin-top: 7px;
    /* border-bottom: 1px solid black; */
    /* box-shadow: 0px -1px 0 0px #bfbfbf inset; */
    border: 0;
    margin: 8px auto 0px;
}

#modal_fasce span.modal_fascia {
    font-size: 10px;
    font-family: "Roboto mono", monospace;
    width: 32px;
    padding: 6px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1ffef;
    border-bottom: 37px solid #91f6bf;
    border-top: 1px solid #91f6bf;
    text-align: center;
    border-left: 1px solid #0bea70;
    font-weight: 600;
}

#modal_fasce span.modal_fascia:first-child {
    border-left: 1px solid #0bea70;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#modal_fasce span.modal_fascia:last-child {
    border-right: 1px solid #0bea70;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;



}

#modal_fasce span.modal_fascia.active {
    opacity: 1;
    filter: none;
    background: #bdffdb;
    border-bottom: 37px solid #0bea70;
    border-top: 1px solid #0bea70;
    border-left: 1px solid #0bea70;
}


#modal_fasce span.modal_fascia::after {
    content: "🚫";
    position: absolute;
    font-size: 21px;
    /* mix-blend-mode: multiply; */
    opacity: 1;
    margin-top: 75px;
}

#modal_fasce span.modal_fascia.active::after {
    content: "📚";
    position: absolute;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */



/* -------------------------------- */
/*          modal search            */
/* -------------------------------- */
#search_main_box{
    display: flex;
    width: 100%;
    height: 28px;
    position: relative;
}
#search_main{
    margin: 0px 10px;
    background: white;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    /* margin-right: 20px; */
    /* margin-top: 4px; */
    /* line-height: 1; */
    border: 1px solid #6312f7;
    padding: 2px 4px 2px 4px;
    border-radius: 7px;
    line-height: 1;
    /* margin-top: 7px; */
    color: #6312f7;
    outline: none;
    width: 151px;
    height: 24px;
    z-index: 50;
    position: absolute;
}
#search_main::placeholder{
    font-size: 16px;
    line-height:1;
    color: #935ff2;
}
#search_main:focus{
    font-size: 36px;
    margin: auto auto;
    top: 38vh;
    height: 36px;
    outline: none;
    width: 80%;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid;
    z-index: 201;
}
#search_main:focus::placeholder{
    font-size: 24px;

}
#search_main_box:focus-within{
    height: 50vh;
    width: 100vw;
    justify-content: center;
    position: absolute;
    z-index: 200;
}
#search_main:focus+.search_background{
    height: 100vh;
    width: 100vw;
    background:rgb(255, 255, 255);
    position: absolute;
    top: 0;
    z-index: 200;
}

#modalsearch_box{
    height: 100%;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: #ffffff;
    top: 0;
    /* padding-top: 33vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding-top: 31vh;
    right: 0vh;
    transition: right 0.5s ease;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}
#modalsearch_box p{
    font-size: 28px;
    margin-bottom: 13px;
    font-family: 'Roboto Slab';
}
#modalsearch_box input{
    font-size: 33px;
    width: calc(100% - 50px);
    outline: 0;
    border: 0;
    text-align: center;
    border-bottom: 0px solid rgb(255 255 255);
    line-height: 1.5;
    font-family: 'Roboto Slab', sans-serif;
    box-shadow: 0px 2px 12px 3px #d6d6d6;
    border-radius: 10px;
    transition: box-shadow 1s ease;
}
#modalsearch_box input:focus{
    /* border-bottom: 2px solid rgb(255, 161, 60); */
    color: rgb(255, 161, 60);
    /* font-size: 72px; */
    background: #fffcf8;
    box-shadow: 0px 2px 12px 3px #ffc17d;
    border-radius: 9px;
}
#modalsearch_box.hidden{
    right: -150vh;
}
#modalsearch_box .exit_modal{
    position: absolute;
    top: 32px;
    right: 22px;
    font-size: 12px;
}
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

#credits{
    /* position: relative; */
    z-index: 400;
    width: 100%;
    background: white;
    margin: 17px 0px 25px;
    width: 100%;
    box-shadow: 0px -4px 12px 0px #00000029;
    padding: 13px 15px 12px;
}
#credits div{
    border-bottom: 1px dashed #afafaf;
    padding: 8px 0px 12px;
}
#credits .line{
    border: 0;
    padding: 0;
    margin: 0px 9px 0px;
    /* width: 100%; */
    /* border-top:1px solid black; */
}
#credits p{
    font-size: 12px;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    color: #0a0a0a;
    /* max-width:400px; */
    margin-bottom: 4px;
}
#credits a{
    font-size: 12px;
    color:unset;
    text-decoration: underline;
}
#credits span{
    display: inline-block;
    /* margin-top: 4px; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    font-family: 'Roboto Mono';
    color: #2d2d2d;
}
#credits .credit_emoji_sub{
    color: #454444;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
}
#credits .list{
    line-height: 1.5;
}
#credits .credit_name {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color:#202020;
}
#credits .credit_name a{
    font-weight: 600;
    text-decoration: none;
    animation: color_infinite 10s linear infinite alternate-reverse;
    word-wrap: nowrap;
}

@keyframes color_infinite {
    0% {color: #ffa724;}
    50% {color: #ff3138;}
    100% {color: #2436ff;}
}
